.header{
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #343a40;
    display: flex;
    gap: 20px;
}
.header a{
    color: white;
    text-decoration: none;
}